.about {
  width: 512px;
}

.img-me {
  border-radius: 999px;
  display: block;
  margin: auto;
  width: 100%;
}

.contact-icon {
  border-radius: 16px;
  height: 64px;
}

.contact-icon:hover {
  -webkit-filter: brightness(110%);
  -webkit-transform: translateZ(0);
}