body {
  background: #eee;
  font-family: HelveticaNeue, Helvetica, Verdana;
  margin: 0;
}

a {
  color: #888;
  text-decoration: none;
}

a:hover {
  color: #6592e0;
}

h1, h2, h3, h4, h5, h6, p, span {
  text-align: left;
}

p {
  font-size: 16px;
  line-height: 1.4em;
}

.selected {
  font-weight: bold;
}

.centered-container {
  text-align: center;
}

.centered-content {
  display: inline-block;
}

#body {
  padding-bottom: 12px;
}

#header-container {
  background: #fff;
}

#header-content {
  padding: 12px;
}

#header-content a:hover {
  color: #777;
}

#nav {
  color: #888;
  line-height: 20px;
}

#title {
  color: #6592e0;
  display: inline-block;
  font-family: HelveticaNeue-Light;
  font-size: 48px;
  font-weight: lighter;
}